.container {
    display: grid;
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
}

section{

    min-height: 200px;
}

#topleft{
    grid-area: 1/1/2/2;
    background-color: green;
    border-radius: 2em;
}

#topright{
    grid-area: 1/2/2/3;
    background-color: red;
    border-radius: 2em;
}

#botleft {
    grid-area: 2/1/3/2; 
    background-color: blue;
    border-radius: 2em;
}

#botright {
    background-color: yellow;
    grid-area: 2/2/3/4;
    border-radius: 2em;
}

#message {
    text-align: center;
    margin: auto;
}

span {
    font-size: 200%;
    color: red;
    text-align: center;
}

#rst {
    border-radius: 1em;
    border: 1px solid pink;
    font-size: 200%;
    text-align: center;
}